@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --chart-1: 219.89 70.2% 50%;
    --chart-2: 276.09 82.61% 68.43%;
    --chart-3: 30 80% 54.9%;
    --chart-4: 167.74 54.58% 49.22%;
    --chart-5: 339.77 74.78% 54.9%;
    --radius: 0.0rem;
  }
  
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cl-internal-1dauvpw,.cl-internal-1hp5nqm , .cl-internal-13hl4in {
  display: none ;
}
.cl-internal-13u79ez {
  background: none !important;
}
/* .cl-internal-7hb1uf{
  box-shadow: transparent !important;
  border: 2px !important;
  border-color: var(--border) !important;
} */

